.btn {
  padding: 8px 20px;
  cursor: pointer;
  min-width: 150px;
  height: 45px;
  outline: none;
  border: none;
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 15px;
  margin: 0 1rem;
}
.btn--green {
  background: var(--success);
}
.btn--blue {
  background: linear-gradient(to right, hsl(241, 87%, 33%), #00f7ff);
}
.btn--blue-light {
  background: linear-gradient(to top, #2255ff, #00f7ff);
}
.btn--orange {
  background: var(--orange-gradient);
  color: white;
}
.btn--orange.btn--outline {
  border: 1px solid rgb(247, 111, 93);
  color: rgb(247, 111, 93);
}
.btn--orange:hover {
  border: 1px solid rgb(247, 111, 93);
  background: white;
  color: rgb(247, 111, 93);
}
.btn--outline {
  border: 1px solid var(--success);
  background: white;
  color: var(--success);
}
